<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_fragment :: headFragment(title = #{topbar.authors})}"></head>
<body class="Site">
<header th:replace="~{fragments/header_fragment :: headerFragment(page = 5)}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{topbar.authors}">
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a th:each="authorList : ${authorsMap}"
                           class="Authors-link"
                           th:href="'#' + ${#strings.toLowerCase(authorList.key)}"
                           th:text="${authorList.key}"></a>
                    </div>
                    <div class="Authors-block" th:each="authorList : ${authorsMap}">
                        <h2 class="Authors-title" th:id="${#strings.toLowerCase(authorList.key)}" th:text="${authorList.key}">
                        </h2>
                        <div class="Authors-letter" th:each="author : ${authorList.value}">
                            <div class="Authors-item">
                                <a href="#" th:text="|${author.firstName} ${author.secondName}|"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
</body>
</html>