<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head_fragment :: headFragment(title = #{topbar.genres})}"></head>
<body class="Site">
<header th:replace="~{fragments/header_fragment :: headerFragment(page = 2)}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{topbar.genres}">
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags Tags_embed">
                        <div class="Tags-title">
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.easyReading}"><span class="undefined-amount">(15638)</span></a>
                            </div>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.fiction}"><span class="undefined-amount">(44333)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.action}"><span class="undefined-amount">(158)</span></a>
                        </div>
                        <div class="Tags">
                            <div class="Tags-title">
                                <div class="Tag">
                                    <a href="/genres/slug.html" th:text="#{genres.detectives}"><span class="undefined-amount">(10)</span></a>
                                </div>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.thriller}"><span class="undefined-amount">(134)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.coolDetective}"><span class="undefined-amount">(934)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.ironicDetective}"><span class="undefined-amount">(143443)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.maniacs}"><span class="undefined-amount">(3331)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.spyDetective}"><span class="undefined-amount">(94)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.criminalDetective}"><span class="undefined-amount">(4839)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.classicDetective}"><span class="undefined-amount">(4488)</span></a>
                            </div>
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.politicalDetective}"><span class="undefined-amount">(1)</span></a>
                            </div>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.fantasy}"><span class="undefined-amount">(14338)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.novel}"><span class="undefined-amount">(1438)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.horror}"><span class="undefined-amount">(156)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.adventures}"><span class="undefined-amount">(1538)</span></a>
                        </div>
                    </div>
                    <div class="Tags">
                        <div class="Tags-title">
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.seriousReading}"><span class="undefined-amount">(18)</span></a>
                            </div>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.biographies}"><span class="undefined-amount">(18)</span></a>
                        </div>
                    </div>
                    <div class="Tags">
                        <div class="Tags-title">
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.businessLiterature}"><span class="undefined-amount">(158)</span></a>
                            </div>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.businessLiterature}"><span class="undefined-amount">(138)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.economyManagement}"><span class="undefined-amount">(158)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.career}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.marketingPRAdvertising}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.finances}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.businessDirectories}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.personalFinance}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.management}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.foreignBusinessLiterature}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.personalEffectiveness}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.timeManagement}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.smallBusiness}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.sales}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.startups}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.corporateCulture}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.banking}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.logistics}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.realEstate}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.internetBusiness}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.publicSpeaking}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.customerAcquisition}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.officeWork}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.conversation}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.administration}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.aboutBusiness}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.securities}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.accountingTaxationAudit}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.russianPractice}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.successStories}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.internetMarketing}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.leadership}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.projectManagement}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.qualityControl}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.financialManagement}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.personnelManagement}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.businessProcesses}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.businessManagement}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                    </div>
                    <div class="Tags">
                        <div class="Tags-title">
                            <div class="Tag">
                                <a href="/genres/slug.html" th:text="#{genres.dramaturgy}"><span class="undefined-amount">(15638)</span></a>
                            </div>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.antiqueDrama}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.comedy}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.scenario}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                        <div class="Tag">
                            <a href="/genres/slug.html" th:text="#{genres.dramaPlay}"><span class="undefined-amount">(15638)</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>
</body>
</html>